<div class="container-fluid" style="  margin-top: 70px;">
  <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="tile">
              <div class="wrapper">
                  <div class="header">Pokémon: Mewtwo Strikes Back—Evolution</div>

                  <div class="banner-img">
                    <iframe width="430px" height="300px" src="https://www.youtube.com/embed/D0zYJ1RQ-fs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <div class="dates">
                      <div class="start">
                          <strong>STARTS</strong> 12:30 JAN 2015
                          <span></span>
                      </div>
                      <div class="ends">
                          <strong>ENDS</strong> 14:30 JAN 2015
                      </div>
                  </div>

                  <div class="stats">

                      <div>
                          <strong>INVITED</strong> 3098
                      </div>

                      <div>
                          <strong>JOINED</strong> 562
                      </div>

                      <div>
                          <strong>DECLINED</strong> 182
                      </div>

                  </div>
                  <div class="footer">
                      <a href="https://www.youtube.com/embed/D0zYJ1RQ-fs" class="Cbtn Cbtn-primary">View</a>
                  </div>
              </div>
          </div> 
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="tile">
              <div class="wrapper">
                  <div class="header">POKÉMON Detective Pikachu</div>

                  <div class="banner-img">
                    <iframe width="430px" height="300px" src="https://www.youtube.com/embed/1roy4o4tqQM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <div class="dates">
                      <div class="start">
                          <strong>STARTS</strong> 12:30 JAN 2015
                          <span></span>
                      </div>
                      <div class="ends">
                          <strong>ENDS</strong> 14:30 JAN 2015
                      </div>
                  </div>

                  <div class="stats">

                      <div>
                          <strong>INVITED</strong> 3098
                      </div>

                      <div>
                          <strong>JOINED</strong> 562
                      </div>

                      <div>
                          <strong>DECLINED</strong> 182
                      </div>

                  </div>

                  

                  <div class="footer">
                      <a href="https://www.youtube.com/embed/D0zYJ1RQ-fs" class="Cbtn Cbtn-primary">View</a>
                  </div>
              </div>
          </div> 
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="tile">
              <div class="wrapper">
                  <div class="header">POKÉMON Detective Pikachu</div>

                  <div class="banner-img">
                    <iframe width="430px" height="300px" src="https://www.youtube.com/embed/bILE5BEyhdo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <div class="dates">
                      <div class="start">
                          <strong>STARTS</strong> 12:30 JAN 2015
                          <span></span>
                      </div>
                      <div class="ends">
                          <strong>ENDS</strong> 14:30 JAN 2015
                      </div>
                  </div>

                  <div class="stats">

                      <div>
                          <strong>INVITED</strong> 3098
                      </div>

                      <div>
                          <strong>JOINED</strong> 562
                      </div>

                      <div>
                          <strong>DECLINED</strong> 182
                      </div>

                  </div>

                

                  <div class="footer">
                      <a href="https://www.youtube.com/embed/D0zYJ1RQ-fs" class="Cbtn Cbtn-primary">View</a>
                  </div>
              </div>
          </div> 
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="tile">
              <div class="wrapper">
                  <div class="header">Pokémon Sword and Shield Trailer</div>

                  <div class="banner-img">
                    <iframe width="430px" height="300px" src="https://www.youtube.com/embed/uBYORdr_TY8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <div class="dates">
                      <div class="start">
                          <strong>STARTS</strong> 12:30 JAN 2015
                          <span></span>
                      </div>
                      <div class="ends">
                          <strong>ENDS</strong> 14:30 JAN 2015
                      </div>
                  </div>

                  <div class="stats">

                      <div>
                          <strong>INVITED</strong> 3098
                      </div>

                      <div>
                          <strong>JOINED</strong> 562
                      </div>

                      <div>
                          <strong>DECLINED</strong> 182
                      </div>

                  </div>


                  <div class="footer">
                      <a href="https://www.youtube.com/embed/D0zYJ1RQ-fs" class="Cbtn Cbtn-primary">View</a>
                  </div>
              </div>
          </div> 
      </div>
  </div>
</div>